<!DOCTYPE html>
<html>
  <head>
    <title>fur&feather resQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'fox-avatar-min.png' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="floating-animals">
      <%= image_tag 'owl-v2-min.png', class: 'animal-img bird-img', id: 'bird-img', style: 'display: none;', alt: 'a cute owl looks at you' %>
      <%= image_tag 'squirrel-v2-min.png', class: 'animal-img fox-img', id: 'fox-img', style: 'display: none;', alt: 'a cute squirrel looks at you' %>
    </div>
    <%= yield %>
  </body>
</html>
